version: '3.8'
services:
  db:
    image: postgres:15
    container_name: my_postgres_db
    restart: always
    environment:
      POSTGRES_USER: diogo
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: dvd_rental_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
volumes:
  db_data: {}